server {
    listen {{ app_port }};
    server_name {{ server_name }} {% for alias in server_aliases %} {{ alias }}{% endfor %};

    # Факты системы
    # Хост: {{ ansible_facts.hostname }}
    # IP: {{ ansible_facts.default_ipv4.address | default('unknown') }}
    # CPU cores: {{ ansible_facts.processor_cores }}

    location / {
        proxy_pass http://localhost:5000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /system {
        return 200 "Host: {{ ansible_facts.hostname }}, CPU: {{ ansible_facts.processor_cores }} cores";
        add_header Content-Type text/plain;
    }
}
